<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body style="text-align: center">

    <form action="/user/reg" method="post" style="margin-top: 180px">
        <h3>Please sign up</h3>
        <p>
            Username: <input type="text" name="username">
        </p>
        <p>
            Password: <input type="text" name="password1">
        </p>
        <p>
            Re-enter Password: <input type="text" name="password2">
        </p>
        <p>
            <input type="submit" value="Sign Up">
        </p>

    </form>
    <button onclick="location.href = '/index/main'">Back</button>
</body>
</html>