<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Message</title>
</head>
<body style="text-align: center">
    Sending message from {{ request.session.username }} to {{ course.user.username }}
    <br><br>
    <form action="/course/send?sender={{ request.session.username }}&course_id={{ course_id }}" method="post">
        <p>
            Title: <input type="text" name="title">
        </p>

        <textarea name="message" cols="50" rows="30"></textarea>
        <p>
            <input type="submit" value="Send">
        </p>


    </form>
    <button onclick="location.href = '/course/view_course?course_id={{ course_id }}'">Back</button>

</body>
</html>