<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Course</title>
</head>
<body>
    <form action="/course/update_course/{{ course.id }}" method="post">
        <p>
            Course Title: <input type="text" name="title" value="{{ course.title }}" disabled="disabled">
            <input type="submit" value="Update">
        </p>

        <p>
            <label for="level">Choose course level</label>
            <select name="level" value="{{ course.level }}">
                <option value="beginner">beginner</option>
                <option value="intermediate">intermediate</option>
                <option value="performer">performer</option>
                <option value="master">master</option>
            </select>
        </p>

        <p>
            Content: <textarea cols="30" rows="10" name="content" value="{{ course.content }}"></textarea>
        </p>
        <p>
            Price: <input type="number", name="price" value="{{ course.price }}">
        </p>
        <p>
            Location: <input type="text" name="location" value="{{ course.location }}" disabled="disabled">
        </p>
        <p>
            Certification: <input type="text" name="certifi" disabled="disabled">
        </p>

    </form>
    <button onclick="location.href = '/course/view_section?instrument={{ course.instrument }}'">Back</button>
</body>
</html>