<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ message.title }}</title>
</head>
<body style="margin: 0">
    <div style="text-align: center; background-color: antiquewhite;font-size: 25px">The Music Family site</div>
    {% if request.session.username %}
        <div style="margin: 0px; width: 100%; background-color: aquamarine;">
            <p style="margin: auto; padding-left: 20px; font-size: 18px">
             Welcome, {{request.session.username}}<a href="/user/logout" style="padding-left: 20px">Log Out</a>
            </p>
        </div>

    {% endif %}

    <div style="text-align: center">
        <h4>{{ message.title }}</h4>
        <p style="font-size: 12px; color: #b5b6b5">from {{ message.sender.username }} at {{ message.create_time }}</p>
        <p>{{ message.message }}</p>
        <button onclick="location.href = '/course/section'">Back</button>
    </div>

</body>
</html>